@import '../variables.css';

.doc-panel {
  & > .contents {
    display: flex;
    flex-direction: column;
    background: var(--doc-panel-bg-color);
    position: relative;
    z-index: 5;
    box-shadow: 0 0 10px 3px var(--shadow-color);
    height: 100%;
  }
}
