{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
          "project": "./tsconfig.json"
        },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "airbnb",
      "airbnb-typescript",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ]
  }