body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

#viewport {
  width: 100%;
  height: 100%;
}

#viewport > svg {
  max-width: 100%;
  max-height: 100%;
}

.node {
  pointer-events: bounding-box;
  cursor: pointer;
}

.node polygon {
  stroke: #888;
}


.edge path {
  stroke: #888;
  stroke-width: 2;
}

.edge polygon {
  fill: #888;
  stroke: #888;
}

.edge text {
  display: none;
}

.edge:hover {
  cursor: pointer;
}

.edge:hover path {
  stroke: #000;
  stroke-width: 3;
}

.edge:hover polygon,
.edge.hovered polygon {
  fill: #000;
  stroke: #000;
}

.edge:hover text,
.edge.selected text,
.edge.hovered text  {
  display: block;
}

.edge path.hover-path {
  stroke: transparent;
  stroke-width: 15;
}

.selection-active .edge,
.selection-active .node {
  opacity: 0.2;
}

.selection-active .node.selected-reachable,
.selection-active .node.selected,
.selection-active .edge.selected {
  opacity: 1;
}

.selection-active .node.selected polygon,
.selection-active .edge.selected path:not(.hover-path),
.edge.selected path:not(.hover-path),
.edge.hovered path:not(.hover-path) {
  stroke: #000;
  stroke-width: 3;
}

.selection-active .edge.selected polygon,
.edge.selected polygon {
  opacity: 1;
  fill: #000;
  stroke: #000;
}

.field-type-link {
  fill: #04f;
}

.field-type-link:hover {
  fill: #8af;
}

.hovered polygon {
  fill: #ffd;
}
