@import '../src/components/variables.css';

.modal-paper {
  position: absolute;
  z-index: 10;

  width: 75%;
  height: 75%;
  max-height: 400px;
  max-width: 800px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  background: white;

  display: flex;
  flex-direction: column;

  padding: var(--panel-spacing);

  @media (--small-viewport) {
    width: 90%;
    height: 90%;
  }
}

.tab-container {
  flex: 1;
  padding: 10px 0;
  display: flex;
  flex-direction: column;

  & > textarea {
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    outline: none;
    padding: 10px;
    font-size: 14px;
  }
}

.copy-button {
  user-select: none;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

.model-footer {
  text-align: right;

  & > button {
    margin-left: 20px;
  }
}

.preset-card {
  overflow: hidden;
  border: 3px solid transparent;
  /* background-color: color(var(--modal-bg-color) l(- 3%)); */
  box-shadow: 0px 0 8px 2px rgba(0, 0, 0, 0.1);
  font-family: var(--base-font-family);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  & h2 {
    font-weight: normal;
  }

  margin: 20px;
  padding: 10px 20px;

  &:hover {
    box-shadow: 0px 0 8px 2px color(var(--primary-color) alpha(0.3) l(-10%));
  }

  &.-active {
    box-shadow: 0px 0 8px 2px color(var(--primary-color) alpha(0.5) l(-10%));
  }
}

.preset-cards {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;

   @media (--small-viewport) {
    padding-right: 0;
  }

  & > div {
    width: calc(50% - 40px);
    height: 100px;
  }

  & > .preset-card {
    @media (--small-viewport) {
      width: 100%;
      height: 50px;
      margin: 10px 0;
    }
  }
}
