@import '../variables.css';

.button.raised {
  &:not([disabled]) {
    background: var(--logo-color);
    color: white;
  }

  &[disabled] {
    background: color(var(--logo-color) l(- 10%));
    color: rgba(255, 255, 255, 0.2);
  }
}
