@import '../variables.css';

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.introspection-card {
  overflow: hidden;
  border: 3px solid transparent;
  background-color: color(var(--modal-bg-color) l(- 3%));
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  & h2 {
    font-weight: normal;
  }

  margin: 20px;
  padding: 10px 20px;

  &:hover {
    background-color: color(var(--modal-bg-color) l(- 5%));
  }

  &.-active {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 10px 2px var(--shadow-color);
  }
}

.modal-root {
  font: var(--base-font-size) var(--base-font-family);
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 75%;
  min-height: 500px;
  transform: translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  outline: none;
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);

  @media (--small-viewport) {
    width: 90%;
    height: 90%;
  }
}

.schema-presets {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-right: 20px;

  @media (--small-viewport) {
    padding-right: 0;
  }

  & > div {
    width: calc(50% - 20px);
    height: 100px;

    &:nth-child(odd) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  & > .introspection-card {
    @media (--small-viewport) {
      width: 100%;
      height: 50px;
      margin: 10px 0;
    }
  }
}

.custom-schema-selector {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--small-viewport) {
    /* do not show custom schema selector on mobile */
    display: none;
  }

  & h2 {
    margin: 0;
    font-weight: normal;
  }

  & > .introspection-card {
    margin: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    transition: all 0.45s ease-out;
  }

  & .card-header + div {
    flex: 1;
  }

  & .card-header > p {
    font-style: italic;
    color: #eee;
    margin: 10px 0;
  }

  & a {
    color: var(--highlight-color);

    &:hover {
      color: color(var(--highlight-color) l(- 10%));
    }
  }

  & > .-active {
    height: calc(100% - 40px);

    & .card-content {
      opacity: 1;
      max-height: 100%;
    }
  }

  & .card-content {
    transition: all 0.45s ease;

    opacity: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;

    & > textarea {
      resize: none;
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 10px;
    }

    & > textarea:empty {
      text-align: center;
      font-size: 16px;
    }
  }
}


.modal-cards {
  flex: 1;
  display: flex;
}

.schema-modal {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--modal-bg-color);
  color: white;

  & > .logo {
    border-bottom: 1px solid #255358;
    width: 100%;
    margin: 0 auto;

    @media (--small-viewport) {
      display: none;
    }

    & > img {
      max-height: 120px;
      max-width: 100%;
      margin: 0 auto;
      display: block;
      width: auto;
      user-select: none;
    }
  }
}


/* customize look of Seggins inside modal */
.schema-modal .menu-content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  background: #1a3f4d;
  position: absolute;
  margin-top: -44px;
  height: 44px;

  @media (--small-viewport) {
    flex-wrap: wrap;
    height: 100%;
  }

  & > div {
    flex: 1;

    @media (--small-viewport) {
      flex: none;
      width: 100%;
      margin: 2px 0;
      padding: 0;
    }
  }

  & .setting-change-root {
    display: flex;
    align-items: center;

    & h3 {
      white-space: nowrap;
      font-size: 14px;
      margin-right: 20px;

      @media (--small-viewport) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  & .setting-other-options {
    display: flex;

    & h3 {
      display: none;
    }

    @media (--small-viewport) {
      flex-wrap: wrap;

      & > label {
        width: 100%;
        margin: 2px 0;
        padding: 0 !important;
      }
    }
  }
}

.modal-info-panel {
  margin-bottom: 10px;

  & > .content,
  & > .menu-content {
    padding: 10px;
  }
}

/* info panel */
.modal-info-panel {
  position: relative;

  & > div {
    transition: all 0.45s ease;
    backface-visibility: hidden;
    perspective: 100000px;
  }

  & > .content {
    transition: all 0.45s ease;
    transform-style: preserve-3d;
    height: 44px;
    box-sizing: border-box;
    line-height: 24px;
  }

  & > .-error {
    background: #511e1e;
  }

  & > .-select {
    background: #165081;
    text-transform: uppercase;
  }

  &.-settings {
    & > .modal-message {
      transform: rotateX(180deg);
    }

    & > .menu-content {
      transform: rotateX(0);
    }

    @media (--small-viewport) {
      height: 110px;
    }
  }

  &.-message {
    text-align: center;
    & > .modal-message {
      transform: rotateX(0);
    }

    & > .menu-content {
      transform: rotateX(180deg);
    }
  }
}
