@import '../variables.css';

.dropdown {
  & .templateValue {
    padding: 0;
    min-height: 0;
    color: white;
    border-bottom-color: white;
    font-weight: 500;

    &:after {
      border-top-color: rgba(255, 255, 255, 0.8);
      margin-top: -3px;
    }
  }

  & .values {
    color: var(--text-color);
  }
}

[data-react-toolbox].field {
  padding: 0 10px;
  margin: 0;
  & .text {
    color: white;
  }
}

.field .check {
  border-color: white;
}
